<link rel="stylesheet"
  href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<html>
<body>

  <input type="checkbox" id="nav-toggle">
  <div class="sidebar">
    <div class="sidebar-dash">
      <h2><span class="las la-user-cog"></span> <span>Admin</span></h2>
    </div>

    <div class="sidebar-menu">
      <ul>
        <li>
          <a routerlink="/admindashboard" >
            <span class="las la-igloo"></span>
            <span >Dashboard</span></a>
        </li>
        <li>
          <a routerlink="suppliersrequest">
            <span class="las la-user-circle"></span>
            <span >Supplier Request</span></a>
        </li>
        <li>
          <a routerlink="orders">
            <span class="las la-shopping-bag"></span>
            <span>Orders</span></a>
        </li>
        <li>
          <a routerlink="postsupplies">
            <span class="las la-users"></span>
            <span>Post Supplies</span></a>
        </li>
        <li>
          <a routerlink="sales">
            <span class="las la-receipt"></span>
            <span>Sales</span></a>
        </li>
        <li>
          <a routerlink="logout" class="active">
            <span class="las la-sign-out-alt"></span>
            <span>Logout</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-content">
    <header>
      <h2>
        <label for="nav-toggle">
          <input type="checkbox" id="nav-toggle">
          <span class="las la-bars"></span>

        </label>
        Dashboard
      </h2>

      <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="text" placeholder="Search here" />
      </div>

      <div class="user-wrapper">
        <img src="assets/images/profile.jpg" width="45px" height="45px" alt="">
        <div>
          <h4>Jo-ann Bernadez</h4>
          <small>Administrator</small>
        </div>
      </div>
    </header>

  </div>
</body>
</html>

