<body>
  <div class="cont">
    <div class="form sign-in">
      <div>
        <h2>Sign In</h2>
      </div>
      <div>
        <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm)">
          <label>
            <span for="email" class="label">Email Address</span>
            <input type="email" class="label-control" id="email" name="email" [(ngModel)]="form1.email" required>
          </label>
          <label>
            <span for="password" class="label">Password</span>
            <input type="password" class="label-control" id="password" name="password" [(ngModel)]="form1.password"
              required>
          </label>
          <button type="submit" class="button" [disabled]="!loginForm.valid">Sign In</button>
          <p class="forgot-pass">Forgot Password ?</p>
        </form>
      </div>


      <div class="social-media">
        <ul>
          <li><img src="assets/images/fb.png"></li>
          <li><img src="assets/images/Insta.png"></li>
          <li><img src="assets/images/twit.png"></li>
          <li><img src="assets/images/linkin.png"></li>
        </ul>
      </div>
    </div>

    <div class="sub-cont">
      <div class="img">
        <div class="img-text m-up">
          <h2>New here?</h2>
          <p>Sign up and discover great amount of new opportunities!</p>
        </div>
        <div class="img-text m-in">
          <h2>One of us?</h2>
          <p>If you already has an account, just sign in. We've missed you!</p>
        </div>
        <div class="img-btn">
          <span class="m-up">Sign Up</span>
          <span class="m-in">Sign In</span>
        </div>
      </div>

      <div class="form sign-up">
        <h2>Sign Up</h2>
        <form #signupForm="ngForm" (ngSubmit)="submitSignup(signupForm)">
          <label>
            <span for="name" class="label">Name</span>
            <input type="text" class="label-control" id="name" name="name" [(ngModel)]="form2.name" required>
          </label>
          <label>
            <span for="email" class="label">Email</span>
            <input type="email" class="label-control" id="email" name="email" [(ngModel)]="form1.email" required>
          </label>
          <label>
            <span for="password" class="label">Password</span>
            <input type="password" class="label-control" id="password" name="password" [(ngModel)]="form1.password"
              required>
          </label>
          <label>
            <span for="cpassword" class="label">Confirm Password</span>
            <input type="password" class="label-control" id="password" name="password_confirmation"
              [(ngModel)]="form2.password_confirmation" required>
          </label>
          <label>
            <span for="role" class="label">Role</span>
            <input type="role" class="label-control" id="role" name="role" [(ngModel)]="form2.role" required>
          </label>
          <button type="submit" class="button" [disabled]="!signupForm.valid">Sign Up Now</button>
        </form>
      </div>
    </div>
  </div>
</body>
